[submodule "librfxcodec"]
	path = librfxcodec
	url = git://github.com/neutrinolabs/librfxcodec.git
	branch = .
	ignore = untracked

[submodule "libpainter"]
	path = libpainter
	url = git://github.com/neutrinolabs/libpainter.git
	branch = .
	ignore = untracked
